
body{
    background-color: white;
    margin: 0;
    padding: 0;
}

header{
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.carousel-item{
    height: 40%;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}

.display-5{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.card-img-top{
    height: 500px;
    width: 350;
}

.card-img-top2{
    height: 200px;
    width: 150;
}

.navbar{
    margin-left: 28%;
}

hr{
    margin-left: 5%;
    margin-right: 5%;
}

.td-img-top{
    height: 20%;
    width: 20%;
}

.btn{
    background-color: #FEF9E7 ;
}

footer{
    background-color: #FEF9E7 ;
}

.d-img-top{
    height: 350px;
    width: 275px;

}

.card{
    margin-top: 7%;
    margin-bottom: 7%;
}

@media (max-width: 900px) and (min-width: 0px){
    .navbar{
        margin-left: 5%;
    }
    
    .navbar-toggler{
        margin-right: 80%;
    }

    .td-img-top{
        height: 80%;
        width: 80%;
    }

    .carousel-item{
        height: 60%;
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }

    .display-5{
        text-align: center;
        font-size: 30;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .card{
        margin-top: 5%;
        margin-bottom: 5%;
    }
    
    .card-img-top{
        height: 300px;
        width: 50;
    }
    
    .card-img-top2{
        height: 200px;
        width: 150;
    }
    
    .d-img-top{
        height: 450px;
        width: 400;
    }

}