
body{
    background-color: white;
    margin: 0;
    padding: 0;
}

header{
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.carousel-item{
    height: 40%;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}

.display-5{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.card-img-top{
    height: 500px;
    width: 350;
}

.card-img-top2{
    height: 200px;
    width: 150;
}

.card-img-top3{
    height: 200px;
    width: 100;
}

.navbar{
    text-align: left;
    text-emphasis-color: black;
}